* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5vh;
}
.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  min-height: 5vh;
  background-color: #ffffff;
  top: 0;
  transition: 0.3s;
  z-index: 3;
  border-bottom: solid 2px #129a55;
}
.logo {
  max-width: 220px;
  height: 56px;
}
.navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 70%;
}
.navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 70%;
}
.navigation a {
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  transition: 0.3s;
  text-align: right;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.navigation a:active {
  background-color: #129a55;
}
.closebtn {
  display: none;
}
.openbtn {
  display: none;
}
.overlay-content a {
  display: none;
}
.logomob {
  display: none;
}
.slideshow {
  display: block;
  margin: auto;
  max-width: 40%;
  max-height: 40%;
  position: relative;
  text-align: center;
}
.subnavtemp {
  list-style-type: none;
  margin-top: 3%;
  overflow: hidden;
}
.lisubnavtemp {
  float: right;
}
.lisubnavtemp a {
  display: block;
  padding: 8px;
  color: #707070;
  background-color: #ffffff;
}
@media screen and (max-width: 992px) {
  .openbtn {
    display: block;
    color: #313331;
    font-weight: 900;
    padding-top: 1%;
  }
  .logomob {
    display: block;
    width: 10%;
  }
  .navigation {
    display: none;
  }
  .nav-wrapper {
    display: none;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #313331;
    overflow-y: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    font-weight: bold;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 8px;
    text-decoration: none;
    font-size: x-large;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #ffffff;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .mobile {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: 1%;
    border-bottom: 2px solid #129a55;
  }
  .slideshow {
    display: block;
    margin-left: 12%;
    margin-top: 30%;
    max-width: 75%;
    max-height: 75%;
    position: relative;
    text-align: center;
  }
  .subnavtemp {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .lisubnavtemp {
    float: left;
  }

  .lisubnavtemp a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
}
@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
